
#one{
    font-size: 1.1rem;
    font-weight: 400;
}      
#two{
    
    font-size: 0.9rem;
    font-weight: 400;
    text-align: justify;
    margin-top: 1.0rem;
}      
#three{
    font-size: 0.9rem;
    font-weight: 400;
    text-align: justify;
    margin-top: 1.0rem;
}      
#four{
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 1.0rem;
}      
#five{
    font-size: 0.9rem;
    font-weight: 400;
    text-align: justify;
    margin-top: 1.0rem;
}      
#six{
    font-size: 0.9rem;
    font-weight: 400;
    text-align: justify;
    margin-top: 1.0rem;
}      
#seven{
    font-size: 0.9rem;
    font-weight: 400;
    text-align: justify;
    margin-top: 1.0rem;
}      
#eight{
    font-size: 0.9rem;
    font-weight: 400;
    text-align: justify;
    margin-top: 1.0rem;
}      
#nine{
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 1.0rem;
}      
#ten{
    font-size: 0.9rem;
    font-weight: 400;
    text-align: justify;
    margin-top: 1.0rem;
}      
#item1{
    font-size: 0.9rem;
    font-weight: 400;
    text-align: justify;
    margin-top: 1.0rem;
}      
#item2{
    font-size: 0.9rem;
    font-weight: 400;
    text-align: justify;
    margin-top: 1.0rem;
}      
#item3{
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 1.0rem;
}      
#item4{
    font-size: 0.9rem;
    font-weight: 400;
    text-align: justify;
    margin-top: 1.0rem;
}      
#item5{
    font-size: 0.9rem;
    font-weight: 400;
    text-align: justify;
    margin-top: 1.0rem;
}      
#item6{
    font-size: 0.9rem;
    font-weight: 400;
    text-align: justify;
    margin-top: 1.0rem;
}      


    

