.Homecompfour_bg{
    background-image: linear-gradient(#fff, #B2FFF2);
}
.Homecompfour_formaindiv{
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);-webkit-box-shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 2rem;
    height: auto;
    margin-bottom: 2rem;
    border: 5px solid #223A66;
}
.Homecompfour_whychoose{
    font-size: 1.5rem;
    color: #46C0CC;
    font-family:Exo;
    padding-left: 1rem;
    
}
.Homecompfour_whatmakes{
    font-size: 2.4rem;
    font-family: Exo;
    color: #46C0CC;
    font-weight: 600;
    padding-left: 1rem;
    margin-bottom: 1rem;
}
.Homecompfour_description{
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 00;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
    line-height: 2;
}
.Homecompfour_description2{
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 1.5rem;
    line-height: 2;
}
#Homecompfour_input{
    background-color: #BEFFEA;
    margin-top: 2rem;
    border : none;
    width: 80%;
    height: 6vh;
    border-radius: .6rem;
}
#Homecompfour_input1{
    background-color: #BEFFEA;
    margin-top: 2rem;
    border : none;
    width: 80%;
    /* height: 6vh; */
    border-radius: .6rem;
    margin-left: 2rem;
}
#Homecompfour_input:active{
    background-color: #BEFFEA;
    margin-top: 2rem;
    border : none;
    width: 80%;
    height: 6vh;
    border-radius: .6rem;
}
#homecompfour_need{
font-family: exo;
color: #0d41a2;
font-size: .6rem;
font-weight: 400;
padding-left: 1.7rem;
margin-top: 2rem;
}
#homecompfour_request{
    color: #0B58E4;
    font-family: Exo;
    font-weight: 700;
    font-size: 3rem;
    padding-left: 1.5rem;
    line-height: 1.2;
}
#homecompfour_we{
    font-family: roboto;
    padding-left: 1.5rem;
    font-weight: 300;
    margin-bottom: 4rem;
    margin-top: 2rem;
    font-size: 1.2rem;
}
#homecompfour_thequickest{
    
    font-weight: 300 ;
    font-family: roboto;
    margin-bottom: 5rem;
    margin-top: .5rem;

}

#homecompfour_shortcutimg{
    
}
#homecompfour_avail{
    margin-top: 2rem;
    
}
#Homecompdour_timing{
    background-color: #223A66;
    color: #fff;
    gap: 1rem;
    margin-top: 2rem;
    padding: .5rem;
    border-radius: .5rem;
    text-align: center;
    font-family: roboto;
    
}
#Homecompdour_timing2{
    background-color: #223A66;
    color: #fff;
    gap: 1rem;
    margin-top: 2rem;
    padding: .5rem;
    margin-left: 2rem;
    border-radius: .5rem;
    text-align: center;
    font-family: roboto;
    
}
#homecompfour_timingselect{
    margin-bottom: 2rem;
    margin-left: 2rem;
}
#Homecompfour_input{
    margin-left: 2rem;
    
}
#Homecompfour_input:focus{
    outline: none;
    
}
#homecompfour_sendbtn{
    
    display: flex;
    align-items: center;
    justify-content: center;

}
#homecompfour_sendusbtn{
    
    width: 85%;
    border: none;
    color: #fff;
    background: #223A66;
    padding: 1rem;
    margin-left: 1rem;
    margin-top: 2rem;
    border-radius: .5rem;
    margin-bottom: 2rem;
}
#homecompfour_check{
    margin-left: 1rem;
}
#homecompfour_label{
    margin-left: .8rem;
}