#testcard1 {
    border: 1px solid black;
    border-radius: 2rem;
    /* padding: 2rem; */
    color: #286374;
    /* background-color: transparent; */
}
#testcard2 {
    font-size: 2rem;
    font-weight: 500;
    padding: 0.5rem 0rem 0.5rem 2rem;
}
#testcard3 {
    height: 0.1rem;
    background-color: #737373;
}
#testcard4 {
    padding: 1.5rem 0rem 0.5rem 2rem;
}
#testcard5 {
    display: flex;
    font-size: 1.2rem;
    padding: 0.5rem 0rem 0.5rem 2rem;
}
#testcard6 {
    margin-right: 5%;
}
#testcard7 {
    background-color: #029967;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    color: white;
    font-size: 1rem;
}
#testcard8 {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem 0rem 2.5rem 2rem;
}
#testcard9 {
    color: #009CFF;
    padding: 0.5rem 0rem 1rem 2rem;
}
#testcard10 {
    background: linear-gradient(92.22deg, #009CFF -73.39%, #003D76 103.87%);
    width: 100%;
    border-radius: 0;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 500;
}